body {
  background-color: rgb(104, 103, 103);
  font-size: 22;
  font-family: sans-serif;
  width: 700px;
  margin: auto;
  background-image: url(imagens/fb02245828a2797e661d07c2723cbff2.jpg);
  background-attachment: fixed;
  background-size: 300px 1000px;
4

}

h1 {
  font-family: Arial, Helvetica;
}

h2 {
  text-transform: uppercase;
}

p {
  line-height: 1.5;
}

.img-bela {
  float: left;
}

#terceiro {
  color: red;
}
#segundo {
  color: blue;
}

.palavra {
  color: antiquewhite;
}
