body {
  background-color: rgb(104, 103, 103);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  background-color: azure;
  border-top: blue solid 5px;
  border-bottom: pink groove 10px;
  border-left: inset 25px yellow;
  border-right: dotted 10px purple;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  padding: 50px 50px 50px 50px;
  width: 180px;
  height: 500px;
}

h2 {
  text-transform: uppercase;
}

p {
  text-indent: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#terceiro {
  color: red;
}
#segundo {
  color: blue;
}

.palavra {
  color: antiquewhite;
}
