ul li {
    display: inline-block;
}

h1 {
    background-image: url(https://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}


img {
     max-width: 320px; 
    }

ul p {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: lightslategrey;
   
}

button {
    color: rgb(0, 3, 2);
    height: 30px;
}

form {
    color: rgb(14, 15, 15);
    
}

input {
     display: block;
 }

