

        
 

h1 {
    color: rgb(163, 255, 127);
    font-size: 100;
    border: 1px solid rgb(0, 70, 12);
    margin: 10px;
    padding: 20px;
    font-style: italic;
   
}

p {

    font-size: 20px;
}

h2 {
    background-color: rgb(192, 192, 192);
    color:rgb(66, 66, 65)
    
}



